body {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    background: #EEEEEE;;
}

nav{
    display: flex;
    padding-top: 40px;
}

h1{
  font-size: 1cm;
}

h2{
  font-size: 14px;
}

h3{
  font-size: 10px;
}


/* CARD 2 */
.container2{
    position: relative;
    display: flex;
    justify-content: center;

    padding-top: 50px;
    padding-bottom: 2cm;
}

.container2 .card{
    padding: 2rem 1rem;
    border-radius: 20px;

    width: 8cm;
    height: 13.5cm;
}

.card2{
    display: flex;
    background: #D9D9D9;
    border-radius: 20px;
  
    width: 2cm;
    height: 0.8cm;
}
  
.card2 .card-body{
    padding-top: 4px;
    padding-left: 17px;
}

.btn{
    background-color: #307FE2;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: all 0.5s;

    height: 35px;
    width: 80px;
    font-size: 12px;
}

a:link{ 
    text-decoration: none; 
}
a:visited{ 
    text-decoration: none;
}

.btn a{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn a:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.btn:hover a{
    padding-right: 10px;
}
  
.btn:hover a:after {
    opacity: 1;
    right: 0;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}


/* footer */
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:100px;
  }
  
  .content {
    position:relative;
    height:2vh;
    text-align:center;
    background-color: white;
    opacity: 0.8;
  }
  
  /* Animation */
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:80px;
      min-height:60px;
    }
    .content {
      height:2vh;
    }
  }
  p {
    letter-spacing: 3px;
    font-size:12px;
    color: #333333;
  }